page-login {
    
} 
.login-register{
    background: color($colors,primary);
    .chang-lng{
        position: absolute;
        top: 15px;
        left: 15px;
        background: darken( color($colors,primary), 5%);
    }
    .scroll-content{
        padding: 20px 40px !important;
    }
    .app-form{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 100%;
    h3{
        color: color($colors,light);
        letter-spacing: 10px;
        font-weight: normal;
        font-size: 1.7rem;   
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .list{
        margin-bottom: 5px;
        .item{
            padding: 0;
            margin-bottom: 15px;
            background: none;
            border-bottom: 2px solid  color($colors,secondary);
            font-size: 1.5rem;
                &.validate-msg{
                    background: none;
                    height: auto;
                    min-height: 20px !important;
                    border: none;
                    margin:-10px 0 10px 0;
                    .label{
                        margin: 0;
                        letter-spacing: 0 !important;
                        p{
                            color: color($colors,third);
                            white-space: normal;
                            font-size: 1.2rem;
                            opacity: .85;
                        }
                    }
                }
            
                &:last-child{
                    margin-bottom: 0;
                }
                &.input-has-focus,&.input-has-value{
                    .label[floating]{
                        color: color($colors,secondary); 
                    }
                }
                .item-inner{
                    padding: 0;
                    .label{
                        font-size: 1.3rem;
                        margin: 0;
                        text-align: center;
                        color:rgba(color($colors,light),.4); 
                        letter-spacing: 3px;
                        &[floating] {
                            -webkit-transform-origin: center top;
                            transform-origin: center top;
                        }
                    }
                    .text-input{
                        width: 100%;
                        margin: 8px 0;
                        color:color($colors,light); 
                        text-align: center;
                    }
                }
            }
        }
        .forgot-psw{
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .fab{
            display: block;
            margin:10px auto;
            ion-icon{
                font-size: 2.3rem;
            }
        }
        .option-sign{
            width: 200px;
            margin: 0 auto;
            color: color($colors,light);
            margin-top: 20px;
            ion-icon{
                width: 45px;
                height: 45px;
                line-height: 45px;
                border-radius: 50%;
                color: color($colors,light);
                border:1px solid color($colors,third);
                font-size: 2.3rem; 
            }
        }
        .new-account,.skip-btn{
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-top: 10px;
        }
    }
}

