<ion-content class="login-register" text-center>



  <div class="app-form">
    <h3>Personal</h3>
    <h3>Trends</h3>

    <ion-list no-margin>
      <form [formGroup]="loginForm">
        <ion-item no-lines>
          <ion-label floating>{{"username" | translate }}</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>

        <ion-item class="validate-msg" 
        *ngIf="!loginForm.controls.name.valid && (loginForm.controls.name.dirty)" no-lines> 
            <p>{{"valid-username" | translate}}</p>   
        </ion-item>

        <ion-item no-lines>
          <ion-label floating>{{"password" | translate }}</ion-label>
          <ion-input formControlName="password"  type="password"></ion-input>
        </ion-item>

        <ion-item class="validate-msg" *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty)" no-lines> 
            <p>{{"valid-password" | translate }}</p>
        </ion-item>
      </form>
    </ion-list>

    <button class="forgot-psw" (click)="forgotPassword()" color="light" ion-button clear small>
     {{"forgot-password" | translate }}</button>

    <button [disabled]="!loginForm.valid"  [navPush]="'TabsPage'" color="four" ion-fab>
      <ion-icon  *ngIf="global.language=='en'" color="light" name="md-arrow-forward"></ion-icon>
      <ion-icon  *ngIf="global.language=='ar'" color="primary" name="md-arrow-back"></ion-icon>
    </button>

    <div class="option-sign">
      <ion-row>
        <ion-col col-4>
           <ion-icon class="app-facebook"></ion-icon>
        </ion-col>
        <ion-col col-4>
           <ion-icon name="logo-twitter"></ion-icon>
        </ion-col>
        <ion-col col-4>
           <ion-icon name="logo-googleplus"></ion-icon>
        </ion-col>
      </ion-row>
    </div> 
    <button [navPush]="'RegisterPage'" class="new-account" color="light" ion-button clear small>{{"new-account" | translate }}</button>
    <button [navPush]="'TabsPage'" class="skip-btn" color="light" ion-button clear small>{{"skip" | translate }}</button>
  </div>

</ion-content>
