<ion-header>

  <ion-navbar>
    <ion-title>{{"book" | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="book-form">
    <ion-item>
      <ion-label stacked>{{"name" | translate }}</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-row class="date-time">
      <ion-col col-6>
        <ion-item no-lines>
          <ion-label stacked>{{"date" | translate }}</ion-label>
          <ion-datetime displayFormat="MM/DD" pickerFormat="MMMM DD" [(ngModel)]="event.month"></ion-datetime>
          <ion-icon name="arrow-down" item-end></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item no-lines>
          <ion-label stacked>{{"time" | translate }}</ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
          <ion-icon name="arrow-down" item-end></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <button color="third" ion-button block>{{"book" | translate }}</button>
  </div>  
</ion-content>

