page-book-form {
    .content{
        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 50px;
            height: 50px;
            width: 100%;
            background: color($colors,primary);
        }
    }
    .book-form{
        position: relative;
        height: 100%;
        border-radius: 8px;
        overflow: hidden;
        background: color($colors,light);
        .item{
            align-items: flex-end;
            font-size: 1.4rem;
            .label[stacked] {
                color: color($colors,primary);
                font-size: 1.5rem;
            }
        }
        .date-time{
            [item-end]{
                font-size: 1.8rem;
                line-height: 2.8rem;
            }
        }
        
        .button{
            position: absolute;
            bottom: 10px;
            left: 10px;
            width: calc(100% - 20px);
            border-radius: 10px;
            height: 42px;
            min-height: 42px;
            font-size: 1.4rem;
        }
    }
}
