<!-- 
styles file workouts.scss
(*) assigned classes
-->
<ion-header>
  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Treinos</ion-title>
</ion-navbar>
</ion-header>

<ion-content>
  
  <!-- *class image-wrapper / content image -->
  <div class="image-wrapper" (click)="goToWorkoutRoutine()">
      <!-- *class backdrop / overlay background -->
      <div class="backdrop"></div>
      <!-- *class image / image -->
      <div class="image" style="background-image:url('assets/img/workouts/1.jpg')"></div>
      <!-- *class info-wrapper / content information -->
      <div class="info-wrapper info-right">
          <!-- *class title / title workout -->
          <div class="title">Treino A</div>
          <!-- *class subtitle / information workout -->
          <div class="subtitle">Duração de até 2h</div>
      </div>
  </div>

  <div class="image-wrapper" (click)="goToWorkoutRoutine()">
      <div class="backdrop"></div>
      <div class="image" style="background-image:url('assets/img/workouts/2.jpg')"></div>
      <div class="info-wrapper info-left">
          <div class="title">Treino B</div>
          <div class="subtitle">Duração de até 1h</div>
      </div>
  </div>

  <div class="image-wrapper" (click)="goToWorkoutRoutine()">
      <div class="backdrop"></div>
      <div class="image" style="background-image:url('assets/img/workouts/3.jpg')"></div>
      <div class="info-wrapper info-right">
          <div class="title">Treino C</div>
          <div class="subtitle">Duração de até 1h</div>
      </div>
  </div>


</ion-content>
