
    .ios, .md {
            .image-wrapper{
                height: 180px;
                position: relative;
                width: 100%;
                .backdrop {
                    background-color: rgba(map-get($colors, dark), 0.6);
                    height: 100%;
                    position: absolute;
                    width: 100%;
                    z-index: 1;
                }
                .image {
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100%;
                    width: 100%;
                }
                .info-wrapper {
                    background-color: rgba(lighten(map-get($colors, primary),8%), 0.9);
                    position: absolute;
                    padding: 6px;
                    text-align: center;
                    top: 65%;
                    width: 70%;
                    z-index: 2;
                    &.info-right {
                        border-bottom-left-radius: 20px;
                        border-top-left-radius: 20px;
                        right: 0;
                    }
                    &.info-left {
                        border-bottom-right-radius: 20px;
                        border-top-right-radius: 20px;
                        left: 0;
                    }
                    .title {
                        color:white;
                        font-weight: 500;
                    }
                    .subtitle {
                        color: map-get($colors, light);
                        font-size: 1.3rem;
                        font-style: italic;
                    }
    
                }
            }
        }
    
    

