<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>

<ion-content class="login-register"  text-center>
    <div class="app-form">
      <h3>{{"register-title" | translate }}</h3>

      <ion-list>
        <form [formGroup]="loginForm">
          <ion-item no-lines>
            <ion-label floating>{{"username" | translate }}</ion-label>
            <ion-input formControlName="name"  type="text"></ion-input>
          </ion-item>

          <ion-item class="validate-msg" 
            *ngIf="!loginForm.controls.name.valid && (loginForm.controls.name.dirty)" no-lines> 
            <p>{{"valid-username" | translate}}</p>   
          </ion-item>

          <ion-item no-lines>
            <ion-label floating>{{"email" | translate }}</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>

          <ion-item class="validate-msg" 
          *ngIf="!loginForm.controls.email.valid && (loginForm.controls.email.dirty)" no-lines> 
              <p>{{"valid-email" | translate }}</p>
          </ion-item>

          <ion-item no-lines>
            <ion-label floating>{{"password" | translate }}</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>

          <ion-item class="validate-msg" *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty)" no-lines> 
             <p>{{"valid-password" | translate }}</p>
          </ion-item>
        </form>
      </ion-list>

      <button [disabled]="!loginForm.valid" [navPush]="'TabsPage'" color="secondary" ion-fab>
          <ion-icon  *ngIf="global.language=='en'" color="primary" name="md-arrow-forward"></ion-icon>
          <ion-icon  *ngIf="global.language=='ar'" color="primary" name="md-arrow-back"></ion-icon>
      </button>
  
      <div class="option-sign">
        <ion-row>
          <ion-col col-4>
             <ion-icon class="app-facebook"></ion-icon>
          </ion-col>
          <ion-col col-4>
             <ion-icon name="logo-twitter"></ion-icon>
          </ion-col>
          <ion-col col-4>
             <ion-icon name="logo-googleplus"></ion-icon>
          </ion-col>
        </ion-row>
      </div> 
    </div>
  </ion-content>
