<ion-tabs>
  <ion-tab [root]="tab1Root" tabIcon="md-home"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="md-star"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="md-person"></ion-tab>
  <ion-tab [root]="tab5Root" tabIcon="chatbubbles"></ion-tab>
  <ion-tab [root]="tab6Root" tabIcon="md-settings"></ion-tab>

 

</ion-tabs>
