<ion-header>

  <ion-navbar>
    <ion-title>{{"list-title" | translate}}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar placeholder='{{"search" | translate}}'></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-list class="main-list" no-margin>
    <ion-item [navPush]="'DetailsPage'" *ngFor="let item of list" no-lines>
      <button class="top-btn" (click)="saveItem(item,$event)" ion-button icon-only clear>
        <ion-icon *ngIf="item.saveThis" color="primary" name="star"></ion-icon>
        <ion-icon *ngIf="!item.saveThis" color="third" name="star"></ion-icon>
      </button>
      <ion-avatar item-start>
        <img src="{{item.img}}">
      </ion-avatar>
      <h2>{{item['name_'+global.language]}}</h2>
      <p>{{item['degree_'+global.language]}}</p>
      <p><ion-icon color="secondary" name="pin"></ion-icon>{{item['address_'+global.language]}}</p>
      <span>4.7</span>
      <rating [(ngModel)]="item.rate" readOnly="true" max="5"  emptyStarIconName="star-outline" starIconName="star" nullable="false">
      </rating>
    </ion-item>
  </ion-list>
</ion-content>
