page-second-list {

}
.main-list{
    .item{
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        ion-avatar {
            min-width: 60px;
            min-height: 60px;
            img{
                width: 60px;
                height: 60px;
                object-fit: cover; 
            }
        }
        .item-inner{
            padding: 0;
            .label{
                margin:15px 0 0 0;
                .top-btn{
                    position: absolute;
                    top: 8px;
                    right:8px;
                    margin: 0;
                    z-index: 100;
                    padding: 0 3px;
                    opacity: 1;
                }
                h2{
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: color($colors,primary);
                }
                p{
                    font-size: 1.3rem;
                    color: #666;
                    ion-icon{
                        padding-right: 10px;
                    }
                }
                span{
                    font-size: 1.3rem;
                    color: #666;
                    padding-right: 5px;
                }
            }
        }
    }
}

//rating
.rating{
    padding:0;
    margin: 0;
    display: inline-block;
    li{
        padding: 0 !important;
        ion-icon{
            font-size: 1.3rem;
            color: #f57c00;
        }
    }
}