<ion-header>
  <ion-navbar>
    <ion-title>
      Chat 
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="exitChat()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item no-lines>
      <div class="chat-status" text-center >
        <span class="chat-date">15/03</span>
        <span class="chat-content-center">15/03</span>
      </div>
      <div #message>
        <!--
        <div class="chat-message" text-right >
          <div class="right-bubble">
            <span class="msg-name">Me</span>
            <span class="msg-date">1</span>
            <p text-wrap>oi</p>
          </div>
        </div>
        -->
     
        <div class="chat-message" text-left >
          <div class="left-bubble">
            <span class="msg-name">Douglas</span>
            <span class="msg-date">15/10</span>
            <p text-wrap>Oi</p>
          </div>
     
        </div>
        
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-input type="text" placeholder="Type a message"></ion-input>
      </ion-col>
      <ion-col col-2 (click)="sendMessage()">
        <ion-icon name="paper-plane"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>