page-article-details {
    .content{
        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 50px;
            height: 50px;
            width: 100%;
            background: color($colors,primary);
        }
    }
    .details-img{
        height: 175px;
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
    }
    .details-content{
        padding: 12px;
        h2{
            font-size: 1.5rem;
        }
        p{
            font-size: 1.3rem;
            line-height: 17px;
            margin: 0;
        }
    }
}
