<ion-header>

  <ion-navbar>
    <ion-title>{{"details" | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="details-card">
     <img class="details-img" src="https://cdn-images-1.medium.com/max/2600/1*U7srFtvjddOHm8nGoeA2KQ.jpeg">

     <div class="details-content">
        <h2>{{details_title['title_'+global.language]}}</h2>
        <p [innerHTML]="details_content['content_'+global.language]">
        </p>
     </div>
  </div>
</ion-content>
