page-profile {
    .save-icon{
        font-size: 3.5rem !important;
    }
    .content{
        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 50px;
            height: 50px;
            width: 100%;
            background: color($colors,primary);
        }
        .scroll-content{
            padding: 10px 10px 0 10px;
        }
    }
    .profile-content{
        background: url('https://blog.agenciadosite.com.br/wp-content/uploads/2017/02/logo-para-personal-03.png');
        box-shadow: inset 0 0 0 1000px rgba(255,255,255,.4);
        background-size: cover;
        min-height: 100%;
        border-radius: 8px 8px 0 0;
        position: relative;
        .profile-img{
            width: 90px;
            height: 90px;
            position: relative;
            display: inline-block;
            float: left;
            margin-top: -45px;
            img{
                width: 90px;
                height: 90px;
                border-radius: 50%;
                object-fit: cover;
                background: #ddd;
            }
            .upload-img{
                width: 30px;
                height: 30px;
                line-height: 30px;
                border-radius: 50%;
                background: color($colors,primary);
                position: absolute;
                bottom: 5px;
                right: -8px;
                font-size: 11px;
                text-align: center;
                ion-icon{
                    line-height: inherit;
                    font-size: 1.9rem;
                }
            }
        }
        .main-info{
            display: inline-block;
            float: left;
            margin-left: 15px;
            width: calc(100% - 105px);
            ion-input{
                color: color($colors,primary);
                .text-input{
                    font-size: 1.5rem;
                    margin: 0;
                    width: 100%;
                    &[disabled] {
                       opacity: 0.7;
                    }
                }
            }
        }
        .profil-data{
            padding: 10px;
            position: absolute;
            bottom: 0;
            left: 10px;
            width: calc(100% - 20px);
            background:color($colors,light);
            border-radius: 8px 8px 0 0;
            .item{
                background: none;
                border: none !important;
                font-size: 1.5rem;
                padding: 0;
                &:first-child{
                    .intl-tel-input{
                        margin-top: 5px;
                        width: 100%;
                        .selected-flag{
                            padding-left: 0;
                        }
                    }
                }
                &:last-child{
                    border: none !important;
                }
                [item-start]{
                    width: 30px;
                    min-width: 30px;
                    height: 30px;
                    min-height: 30px;
                    line-height: 30px;
                    border-radius: 50%;
                    background:color($colors,primary);
                    color: color($colors,light);
                    font-size: 1.9rem;
                }
                .item-inner{
                    padding: 0;
                    .text-input{
                        width: 100%;
                        margin: 0;
                        color: color($colors,dark);
                        &[disabled] {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}
