<ion-header>

  <ion-navbar>
    <ion-title>{{"profile-title" | translate}}</ion-title>
    <ion-buttons end>
      <button color="light" ion-button icon-only clear (click)="changeData()">
        <ion-icon name="md-create" *ngIf="isDisabled"></ion-icon>
        <ion-icon name="checkmark" *ngIf="!isDisabled" class="save-icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
   <div class="profile-content">
      <ion-list class="profil-data" no-margin>

        <div class="profile-img">
          <img src="{{img}}">
          <span class="upload-img" (click)="getPhoto()"><ion-icon color="light" name="md-camera"></ion-icon></span>
        </div>
        <div class="main-info">
          <ion-input type="text" placeholder="{{'username' | translate }}" value="Rafael Alves" disabled="{{isDisabled}}"></ion-input>
        </div>

        <ion-item no-lines no-margin>
          <ion-icon name="call" item-start></ion-icon>
          <ion-input  type="tel" placeholder="{{'phone' | translate }}" value="991236789" disabled="{{isDisabled}}"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-icon name="mail" item-start></ion-icon>
          <ion-input type="email" placeholder="{{'email' | translate }}" value="rafaelalves@gmail.com" disabled="{{isDisabled}}"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-icon name="pin" item-start></ion-icon>
          <ion-textarea type="text" placeholder="{{'useraddress' | translate }}" value="Brasília, DF"
          disabled="{{isDisabled}}"></ion-textarea>
        </ion-item>
      </ion-list>
   </div>
</ion-content>
