<ion-header>

  <ion-navbar>
    <ion-title>{{"list-title" | translate}}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar placeholder='{{"search" | translate}}'></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content padding>
    <ion-list class="grid-list" no-margin>
      <ion-item [navPush]="'SecondListPage'" *ngFor="let item of list; let i = index" (click)="activeItem(i)" [ngClass]="{'active-item':activeSelect==i}" no-lines>
        <img src="{{item.img}}">
        {{item['title_'+global.language]}}
      </ion-item>
    </ion-list>
</ion-content>
