page-home {

}
.grid-list{
    .item{
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        width: calc(60% - 40px);
        float: left;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 1.4rem;
        color: color($colors,primary);
        height: 130px;
        &.active-item{
           color: color($colors,third); 
        }
        &:nth-child(2n){
            margin-left: 5px;
        }
        &:nth-child(2n + 1){
            margin-right: 5px;
        }
        img{
            width: 60px;
            height: 60px;
            object-fit: contain;
            display: block;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        .item-inner{
            padding: 0;
            .label{
                margin: 0;
            }
        }
    }

 
} 

h1 {
    color: color($colors,light);
    font-weight: normal;
    font-size: 1.2rem;   
    margin-bottom: 0px;
}
h5{
    color: color($colors,light);
    font-weight: normal;
    font-size: 1.3rem;   
  
    
}