page-settings {
    .list{
        margin: 0 ;
        .item{
            font-size: 1.4rem;
            font-weight: 500;
            color: color($colors,primary);
            padding:0 10px;
            border-radius: 8px;
            margin-bottom: 10px;
            .item-inner{
                padding: 0;
                .select{
                    color:color($colors,primary);
                    font-weight: normal;
                    font-size: 1.4rem;
                    padding:0;
                    .select-text{
                        padding: 0 10px;
                    }
                    .select-icon{
                        .select-icon-inner{
                            color:color($colors,primary);   
                            left: 0;
                        }
                    } 
                } 
            }
            [item-end]{
                margin: 0;
            }
        }
    }
}


