<ion-header>

  <ion-navbar>
    <ion-title>{{"setting-title" | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item no-lines>
          <ion-label>{{"app-language" | translate }}</ion-label>
          <ion-select [(ngModel)]="global.language" (ngModelChange)="global.changeLanguage(global.language)">
            <ion-option value="en">{{"english" | translate }}</ion-option>
            <ion-option value="ar">{{"arabic" | translate }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
          <ion-item no-lines>
            <ion-label>{{"animation" | translate }}</ion-label>
            <ion-toggle (ionChange)="animateApp($event)"  checked="{{_myApp.animateVarible}}"></ion-toggle>
          </ion-item>

          <ion-item (click)="logout()" no-lines>
            {{"logout" | translate }}
            <ion-icon name="log-out" item-end></ion-icon>
          </ion-item>
      </ion-list>
</ion-content>
