page-map {
    .sub-header{
        [col-4]{
            p{
                color: color($colors,light);
            }
        }
        [col-8]{
            .fab{
                display: inline-block;
                float: right;
                margin: 0 0 0 10px;
                ion-icon{
                    font-size: 2rem;
                }
            }
        }
    }
    .map{
        height: 100%;
        width: 100%;
    }
}
