<ion-header>

  <ion-navbar>
    <ion-title>{{"map-title" | translate }}</ion-title>
  </ion-navbar>
  <ion-toolbar class="sub-header">
    <ion-row>
      <ion-col col-4 text-center>
        <p>{{"distance_km" | translate }}</p>
      </ion-col>
      <ion-col col-8>
        <button (click)="active_status=1" color="secondary" ion-fab mini>
          <ion-icon *ngIf="active_status==1" color="primary" class="app-train"></ion-icon>
          <ion-icon *ngIf="active_status!=1" color="light" class="app-train"></ion-icon>
        </button>
        <button (click)="active_status=2" color="secondary" ion-fab mini>
          <ion-icon *ngIf="active_status==2" color="primary" class="app-car"></ion-icon>
          <ion-icon *ngIf="active_status!=2" color="light"  class="app-car"></ion-icon>
        </button>
        <button (click)="active_status=3" color="secondary" ion-fab mini>
          <ion-icon *ngIf="active_status==3"color="primary" class="app-run"></ion-icon>
          <ion-icon *ngIf="active_status!=3" color="light" class="app-run"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <div class="map" #map id="map"></div>
</ion-content>
