// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-app.ios [padding] .scroll-content{
    padding: 10px;
}
.content{
   background: #efefef;
}
//header
.header{
    &:after{
        display: none;
    }
    ion-title{
        .toolbar-title{
            font-weight: normal; 
            padding-left: 0;
            font-size: 1.6rem;
        }
    }
    .bar-button{
        width: 35px;
        ion-icon{
            font-size: 2.3rem;
            min-width: auto;
        }
    }
}
//tabs
.tabs{
    .tabbar{
        background: color($colors,third);
        border: none;
        height: 50px;
    }
    .tab-button-icon{
        color: color($colors,light);
        font-size: 2.1rem;
        line-height: 2.7rem;
    }
    .tab-button[aria-selected=true] .tab-button-icon {
        font-size: 2.6rem;
    }
}
.enable-hover a:hover{
    opacity: 1;
}

//searchbar
.searchbar{
    margin-top: -8px; 
    .searchbar-input{
        height: 35px;
        color: white;
        border: 1px solid;
        background: lighten(color($colors,primary), 3%) !important;
        padding-left: 40px !important;
        border-radius: 9px;
    }
    .searchbar-search-icon{
        top: 11px;
    }
}

//toggle
.toggle{
    padding: 6px 3px !important;
    &.toggle-checked{
        .toggle-inner {
            background:color($colors,third) !important;
        } 
    }
    .toggle-icon{
        border:1px solid color($colors,primary);
        .toggle-inner {
            left: -2px;
            top: -3px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background: #b5b4b4;
            box-shadow: none;
        }
    }
} 




