html[dir='rtl']{
    p,h1,h2,h3,div,.item,.button,.toolbar-title{
        font-family:arabicFont;
    }
    h1,h2,h3{
        font-family:bold-arabicFont; 
    }
    .item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left], .item-ios ion-avatar[item-start], .item-ios ion-thumbnail[item-start] {
        margin: 8px 0 8px 16px;
    }
    .item{
        padding-right: 16px;
        padding-left: 0;
        .item-inner {
            padding:0 0 0 8px;
        }
    }
    //searchbar
    .searchbar{
        .searchbar-input{
            direction: rtl;
            padding-left: 28px !important;
            padding-right: 40px !important;
            border-radius: 9px;
        }
        .searchbar-search-icon{
            right: 9px;
            left: auto;
        }
        .searchbar-clear-icon{
            left: 0;
            right: auto;
        }
    }
    .header{
        .back-button{
           transform: rotate(180deg);
        }
    } 
    .login-register{
        .chang-lng{
            left: auto;
            right: 15px;
        }
        .app-form{
            *,.label{
                letter-spacing: 0 !important;
            }
            .forgot-psw{
                font-size: 1.2rem;
            }
        }
    }
    .grid-list{
        .item{
            font-family:bold-arabicFont; 
            float:right;
            &:nth-child(2n){
                margin-right: 5px;
                margin-left:0;
            }
            &:nth-child(2n + 1){
                margin-left: 5px;
                margin-right:0;
            }
        }
    }
    .main-list{
        .item{
            .item-inner{
                .label{
                    .top-btn{
                        left:8px;
                        right: auto;
                    }
                    p{
                        ion-icon{
                            padding-left: 2px;
                            padding-right: 0;
                        }
                    }
                    span{
                        padding-left: 5px;
                        padding-right: 0;
                    }
                }
            }
        }
    }

    page-details {
        .details-card{
            .main-info{
                 .item-inner{
                     .label{
                         .top-btn{
                             left:8px;
                             right: auto;
                         }
                         h2{
                         }
                         p{
                             ion-icon{
                                 padding-left: 10px;
                                 padding-right: 0;
                             }
                         }
                         span{
                             padding-left: 5px;
                             padding-right: 0;
                         }
                         .num-phone{
                             font-family:bold-arabicFont;
                             ion-icon{
                                 padding-left: 10px;
                                 padding-right: 0;
                             }
                         }
                     }
                 }
            }
            .more-details{
                .item{
                    [item-start]{
                        margin-left: 8px;
                        margin-right: 0;
                    }
                }
                ion-row{
                    ion-col{
                        font-weight: normal;
                        p{
                            font-size: 1.4rem;
                            font-family:bold-arabicFont;
                             span{
                                 padding-right: 3px;
                                 margin-left: 0;
                             }
                        }
                    }
                }
            }
            .appointment{
                .item{
                    [item-start]{
                        min-width: 50px;
                        margin-left: 10px;
                        margin-right: 0;
                    }
                }
            }
        }
     }
     .rating{
        li{
            ion-icon {
                transform: rotate(180deg);
            }
        } 
     } 

     page-map {
        .sub-header{
            [col-8]{
                .fab{
                    float: left;
                    margin: 0 10px 0 0;
                }
            }
        }
    }
    page-article-list{
        .list{
           .item-block{
                ion-thumbnail {
                    height: 115px;
                    width: 100px;
                    margin: 0 0 0 10px;
                    img{
                        border-radius: 0 8px 8px 0;
                    }
                }
           }
        } 
    }

    page-profile {
        .profile-content{
            .profile-img{
                float: right;
                .upload-img{
                    left: -8px;
                    right: auto;
                }
            }
            .main-info{
                float: right;
                margin-right: 15px;
                margin-left: 0;
                .text-input{
                    text-align: right;
                }
            }
            .profil-data{
                right: 10px;
                left:auto;
                .item{
                    [item-start] {
                        margin: 8px 0 8px 16px;
                    }
                    .intl-tel-input{
                        direction: ltr;
                        .selected-flag{
                            padding-left: 0;
                        }
                    }
                    .item-inner{
                        .text-input{
                          text-align: right;
                        }
                    }
                }
            }
        }
    }

    page-settings{
        .list{
            .item{ 
                [item-end] {
                    margin: 0;
                    transform: rotate(180deg);
                }
            }
        }
    }
      
    .alert-ios [aria-checked=true] .alert-radio-inner {
        left: 15px !important;
    }

    .intl-tel-input{
        .country-list {
            text-align: right;
            .flag-box{
                margin-left: 6px;
                margin-right: 0;
            }
        }
        .flag-container {
            left: auto;
            right: 0;
            .selected-flag{
                .iti-flag {
                    right: 0;
                }
                .iti-arrow{
                    left: 6px;
                    right: auto;
                }
            }
        } 
        input[type=tel]{
            padding-left: 6px;
            padding-right: 52px;
        }
    } 
    
}