@font-face {
  font-family: 'fontello';
  src: url($font-path+ '/fontello.eot?68221263');
  src: url($font-path+ '/fontello.eot?68221263#iefix') format('embedded-opentype'),
       url($font-path+ '/fontello.woff2?68221263') format('woff2'),
       url($font-path+ '/fontello.woff?68221263') format('woff'),
       url($font-path+ '/fontello.ttf?68221263') format('truetype'),
       url($font-path+ '/fontello.svg?68221263#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?68221263#fontello') format('svg');
  }
}
*/
 
 [class^="app-"]:before, [class*=" app-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width:auto;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.app-run:before { content: '\e80e'; } /* '' */
.app-train:before { content: '\e80f'; } /* '' */
.app-car:before { content: '\e810'; } /* '' */
.app-twitter:before { content: '\f099'; } /* '' */
.app-facebook:before { content: '\f09a'; } /* '' */
