@import "../assets/animate/animate.scss";
.animateApp{
    .app-form{
        h3,.fab{
            @include zoomIn($duration:1.5s) 
        }
    }
    .option-sign{
        .row{
            .col{
                &:nth-child(1){
                    @include zoomIn($duration:1.5s,$delay:1s) 
                }
                &:nth-child(2){
                    @include zoomIn($duration:1.5s,$delay:1.5s) 
                }
                &:nth-child(3){
                    @include zoomIn($duration:1.5s,$delay:2s) 
                }
            }
        }
    }
    @for $i from 1 through 100 {
        .grid-list{
            .item{
                &:nth-child(#{$i}){
                    @include bounceIn($delay: $i/1.7 + s);
                }
            }
        } 
        .main-list,.sec-list{
            .item{
                &:nth-child(#{$i}){
                    @include fadeInLeft($delay: $i/1.4 + s);
                }
            }
        } 
    } 
}

html[dir='rtl']{
    .animateApp{
        @for $i from 1 through 100 {
            .main-list,.sec-list{
                .item{
                    &:nth-child(#{$i}){
                        @include fadeInRight($delay: $i/1.4 + s);
                    }
                }
            } 
        } 
    }
}



    