<ion-header>
  <ion-navbar>
    <ion-title>Chat Clientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Conversas Recentes
    </ion-list-header>

    <ion-item (click)="openChat()">
      <ion-avatar item-start>
        <img src="https://blog.agenciadosite.com.br/wp-content/uploads/2017/02/logo-para-personal-03.png">
      </ion-avatar>
      <h2>Alex Personal</h2>
      <h3></h3>
      <p>Foco, força e fé</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="https://blog.agenciadosite.com.br/wp-content/uploads/2017/02/logo-para-personal-03.png">
      </ion-avatar>
      <h2>Yuri</h2>
      <h3>Look, kid...</h3>
      <p>Venenomorfo</p>
    </ion-item>

    </ion-list>

</ion-content>