<ion-header>

  <ion-navbar>
    <ion-title>{{"favorites-title" | translate}}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar placeholder='{{"search" | translate}}'></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content padding>
    <ion-list class="main-list" no-margin>
      <ion-item [navPush]="'DetailsPage'" *ngFor="let item of list" no-lines>
        <button class="top-btn" (click)="deleteItem(item,$event)" ion-button icon-only clear>
          <ion-icon color="third" name="md-trash"></ion-icon>
        </button>
        <ion-avatar item-start>
          <img src="{{item.img}}">
        </ion-avatar>
        <h2>{{item['name_'+global.language]}}</h2>
        <p>{{item['degree_'+global.language]}}</p>
        <p><ion-icon color="secondary" name="pin"></ion-icon>{{item['address_'+global.language]}}</p>
        <span>4.7</span>
        <rating [(ngModel)]="item.rate" readOnly="true" max="5"  emptyStarIconName="star-outline" starIconName="star" nullable="false">
        </rating>
      </ion-item>
    </ion-list>
    <div *ngIf="list?.length === 0" class="no-results" text-center>{{"no-results" | translate}}</div>
</ion-content>
