page-article-list {
    .list{
        .item-block{
           border-radius: 8px;
           margin-bottom: 10px;
           align-items: flex-start;
           padding: 0;
           height: 115px;
           contain: initial;
           overflow: visible;
           &:last-child{
               margin-bottom: 0;
           }
           ion-thumbnail{
                height: 115px;
                width: 100px;
                margin: 0 10px 0 0;
                position: relative;
                img{
                    height: 115px;
                    width: 100px; 
                    border-radius:8px 0 0 8px;
                    object-fit: cover;
                }
           }
           .item-inner{
               .label{
                    margin-right: 0;
                    h2{
                        font-size: 1.5rem;
                        font-weight: 500;
                        padding: 0;
                        margin: 2px 0 4px 0;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    p{
                        font-size: 1.3rem;
                        line-height: 17px;
                        margin: 0;
                        white-space: normal;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical; 
                        overflow: hidden;
                        color:color($colors,dark);  
                    }
               }
           }
        }
    }
}
