<ion-header>

  <ion-navbar>
    <ion-title>{{"article-title" | translate }}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar placeholder='{{"search" | translate}}'></ion-searchbar>
  </ion-toolbar> 

</ion-header>


<ion-content padding>
  <ion-list class="sec-list" no-margin>
    <ion-item [navPush]="'ArticleDetailsPage'" *ngFor="let item of list" no-lines>
      <ion-thumbnail item-start>
        <img src="{{item.img}}">
      </ion-thumbnail>
      <h2>{{item['title_'+global.language]}}</h2>
      <p  *ngIf="global.language=='en'">
          is simply dummy text of the printing and
          typesetting industry. Lorem Ipsum has 
          been the industry's standard dummy text 
          ever since the 1500s, when an unknown 
          printer took a galley of type 
      </p>
      <p  *ngIf="global.language=='ar'">
          الارشادات الطبية ، علاج للأمراض ، اخر اخبار الطب والصحة فى العالم يشمل نصائح طبية، وتغطية للاكتشافات العلمية فى عالم الطب والصحة العامة،
        </p>
    </ion-item>
  </ion-list>
</ion-content>
