<ion-header>

  <ion-navbar>
    <ion-title>{{"details" | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <div class="details-card">
      <ion-item class="main-info" no-lines>
        <button class="top-btn" (click)="saveItem=!saveItem" ion-button icon-only clear>
          <ion-icon *ngIf="saveItem" color="primary" name="star"></ion-icon>
          <ion-icon *ngIf="!saveItem" color="third" name="star"></ion-icon>
        </button>
        <ion-avatar item-start>
          <img src="https://cdn-images-1.medium.com/max/2600/1*U7srFtvjddOHm8nGoeA2KQ.jpeg">
        </ion-avatar>
        <h2>{{"doc-name" | translate }}</h2>
        <p>{{"degree" | translate }}</p>
        <span>4.7</span>
        <rating [(ngModel)]="rate" readOnly="true" max="5"  emptyStarIconName="star-outline" starIconName="star" nullable="false">
        </rating>
        <p class="num-phone"><ion-icon name="call"></ion-icon>(61) 333-2222</p>
      </ion-item>

      <div class="more-details">
          <ion-item no-lines>
            <ion-icon color="secondary" name="pin" item-start></ion-icon>
            {{"address" | translate }}
          </ion-item>

          <ion-row>
            <ion-col col-4>
                <p>{{"experience" | translate }}<span>20 {{"year" | translate }}</span></p>
            </ion-col>
            <ion-col col-4> 
                <p>{{"fees" | translate }}<span>R$150</span></p>
            </ion-col>
            <ion-col col-4>
                <p>{{"distance" | translate }}<span>1.5 {{"km " | translate }}</span></p>
            </ion-col>
          </ion-row>

          <button [navPush]="'BookFormPage'" color="third" ion-button block>{{"book" | translate }}</button>
      </div>

      <div class="appointment">
         <ion-list no-margin>
           <ion-item *ngFor="let item of list" [ngClass]="{'close':item.flag=='closed'}" no-lines>
              <span item-start>{{item['day_'+global.language]}}</span>
              {{item.times}}
           </ion-item>
         </ion-list>
      </div>

      <div class="rate-now"  *ngIf="rateNow">
        <rating [(ngModel)]="ratenow" readOnly="false" max="5"  emptyStarIconName="star-outline" starIconName="star" nullable="false"></rating>

        <button color="primary" ion-button block>{{"save" | translate }}</button>
      </div>

      <ion-row class="two-btns">
        <ion-col col-8>
            <button [navPush]="'MapPage'" color="primary" ion-button block>{{"get-direction" | translate }}</button>
        </ion-col>
        <ion-col col-4>
            <button (click)="rateNow=!rateNow" color="third" ion-button block>
              <span *ngIf="!rateNow">{{"add-rate" | translate }}</span>
              <span *ngIf="rateNow">{{"cancel" | translate }}</span>
            </button>
        </ion-col>
      </ion-row>
   </div>
</ion-content>
