page-details {
   .content{
       &:after{
           content: '';
           position: absolute;
           left: 0;
           top: 50px;
           height: 50px;
           width: 100%;
           background: color($colors,primary);
       }
   }
}

.details-card{
    background: color($colors,light);
    border-radius: 8px;
    overflow: hidden;
     .button-block{
         border-radius: 10px;
         height: 42px;
         min-height: 42px;
         font-size: 1.4rem;
     }
    .main-info{
        background: none;
        padding-top: 20px;
         ion-avatar {
             min-width: 90px;
             min-height: 90px;
             img{
                 width: 90px;
                 height: 90px;
                 object-fit: cover; 
             }
         }
         .item-inner{
             padding: 0;
             .label{
                 margin:0;
                 .top-btn{
                     position: absolute;
                     top: 8px;
                     right:8px;
                     margin: 0;
                     z-index: 100;
                     padding: 0 3px;
                     opacity: 1;
                 }
                 h2{
                     font-size: 1.8rem;
                     font-weight: 500;
                     color: color($colors,primary);
                 }
                 p{
                     font-size: 1.3rem;
                     color: #666;
                     ion-icon{
                         padding-right: 10px;
                     }
                 }
                 span{
                     font-size: 1.3rem;
                     color: #666;
                     padding-right: 5px;
                 }
                 .num-phone{
                     color: color($colors,primary);
                     font-size: 1.6rem;
                     font-weight: 500;
                     margin-top: 5px;
                     ion-icon{
                         padding-right: 10px;
                     }
                 }
             }
         }
    }
    .more-details{
        padding:0 10px 10px 10px;
        .item{
            padding: 0;
            font-size: 1.3rem;
            color: #666;
            [item-start]{
                margin-right: 8px;
                font-size: 2.3rem;
            }
            .item-inner{
                padding: 0;
                 .label{
                     white-space: normal;
                     margin: 0;
                 }
            }
        }
        ion-row{
            ion-col{
                padding: 0;
                color: color($colors,primary);
                font-size: 1.2rem;
                font-weight: 500;
                text-align: center;
                p{
                    margin-top: 5px;
                     span{
                         padding-left: 3px;
                     }
                }
            }
        }
    }
     .appointment{
         background:color($colors,secondary); 
         padding: 5px 0;
         .item{
             background: none;
             font-size: 1.4rem;
             height: 26px;
             min-height: 26px;
             &.close{
                 .item-inner{
                     color: darken(color($colors,danger),20%);
                 }
             }
             [item-start]{
                 min-width: 20px;
                 margin-right: 10px;
             }
             .label{
                 margin: 0;
             }
         }
     }
     .two-btns{
         padding:5px;
     } 
     .rate-now{
         text-align: center;
         padding: 10px;
         .rating{
             margin-bottom: 10px;
             li{
                 ion-icon {
                     font-size: 2.8rem;
                 }
             } 
         } 
     }
}
